p + p {
    color: blue;
}
p + p + p {
    color: red;
}

a:link{
    color: darkblue;
}
a:visited{
    color: hotpink;
}
a:hover {
    color: green;
    background-color: lightcoral;
    
}
a:active {
    color: khaki;
}

ol li:first-child{
    color: lightcoral;
}
ol li:nlast-child(2n+1){
    color: lightseagreen;
}
ol li:nth-child(4){
    color: lightslategray;
}

table, td, th{
    border:  solid lime;
    border-collapse: collapse;
}

tr:first-child{
    background-color: mediumaquamarine;
}

tr:nth-child(even){
    background-color: mediumvioletred;
}
td:nth-child(even){
    background-color: orange;
}

p::first-line{
    color: pink;
    font-size: large;
    font-style: italic;
}

p::first-letter{
    font-size: 200%;
}

p::selection{
    color: white;
}

p::before, p::after{
    content: url('');
    color: teal;
    font-weight: bold;
    font-size: 150%;
}