table{
  align-items: center;
}


table, th, td{
    
  border: 3px solid black;
  border-collapse: collapse;
  height: 100px;

     

}

.table_cell1{
  width: 200px;
  vertical-align: middle;
  padding-right: 20px;

}

.table_cell2{
  width: 80px;
  vertical-align: middle;
  padding-left: 2px;

}

.table_cell3{
  width: 250px;
  vertical-align: middle;
  padding-left: 2px;
  table-layout: fixed;

}

.table_cell4{
  width: 250px;
  vertical-align: middle;
  padding-left: 2px;
  table-layout: fixed;

}

.table_cell1_data{
  height: 0;
  vertical-align: middle;
  padding: 15px 15px 15px 2px;

}
